#mapWell {
    padding: 5px;
    height: 500px;
}

#map {
    height: 100%;
}

#infoWell {
    height: 500px;
}

#orderLoadingBar {
    height: 5px;
    margin-bottom: 0;
    margin-top: -5px;
}

#orderLoadingBar div {
    width: 100%;
}

.mapLegendIcon {
    width: 24px;
    height: 24px;
}